<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>    
    <!--登录-->
    <component id="IMiniLogin" service="Breezee.Framework.Mini.IBLL.IMiniLogin, Breezee.Framework.Mini.IBLL"
               type="Breezee.Framework.Mini.BLL.BMiniLogin,  Breezee.Framework.Mini.BLL" />
    <component id="IMiniSystem" service="Breezee.Framework.Mini.IBLL.IMiniSystem, Breezee.Framework.Mini.IBLL"
               type="Breezee.Framework.Mini.BLL.BMiniSystem,  Breezee.Framework.Mini.BLL" />
  </components>
</configuration>