<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <!--系统-->
    <component id="IDMiniDBInitializer" service="Breezee.Framework.Mini.IDAL.IDLogin, Breezee.Framework.Mini.IDAL"
           type="Breezee.Framework.Mini.DAL.DDMiniDBInitializer,  Breezee.Framework.Mini.DAL" />
  </components>
</configuration>