<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <!--全局模块-->
    <!--Adpater-->
    <component id="IADPExcel" service="Breezee.Global.Adapter.IBLL.IADPExcel, Breezee.Global.Adapter.IBLL"
           type="Breezee.Global.Adapter.BLL.BADPExcel_NPOI,  Breezee.Global.Adapter.BLL" />
    <component id="IADPLog" service="Breezee.Global.Adapter.IBLL.IADPLog, Breezee.Global.Adapter.IBLL"
           type="Breezee.Global.Adapter.BLL.BADPLog_NLog,  Breezee.Global.Adapter.BLL" />
    <component id="IADPJson" service="Breezee.Global.Adapter.IBLL.IADPJson, Breezee.Global.Adapter.IBLL"
           type="Breezee.Global.Adapter.BLL.BADPJson_Newtonsoft,  Breezee.Global.Adapter.BLL" />
    <component id="IADPCacheManage" service="Breezee.Global.Adapter.IBLL.IADPCacheManage, Breezee.Global.Adapter.IBLL"
           type="Breezee.Global.Adapter.BLL.BADPCacheManager,  Breezee.Global.Adapter.BLL" />
  </components>
</configuration>