<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--应用程序配置-->
	<appSettings>
		<!--1、主SQL配置入口文件：本配置无用，直接修改Config/sql.main.config下包含哪些SQL文件即可-->
		<add key="MainSqlConfig" value="Config\sql.main.config"/>
		
		<!--2、正确SQL日志配置-->
		<!--2.1 是否启用正确SQL日志：1或true为产生正确SQL日志-->
		<add key="RightSqlLogEnable" value="1"/>
		<!--2.2 正确SQL日志路径：全路径或相对路径-->
		<add key="RightSqlLogPath" value="\SqlLog\ok"/>
		<!--2.3 保留正确SQL日志天数：为0的话，就只保留最后一条。-->
		<add key="RightSqlLogKeepDays" value="1"/>
		<!--2.4 保留正确SQL增加方式：1-新日志在最前面；其他值-新日志在最后。-->
		<add key="RightSqlLogAddType" value="1"/>
		
		<!--3、错误SQL日志配置-->
		<add key="ErrorSqlLogEnable" value="1"/>
		<add key="ErrorSqlLogPath" value="\SqlLog\err"/>
		<add key="ErrorSqlLogKeepDays" value="1"/>
		<add key="ErrorSqlLogAddType" value="1"/>
	</appSettings>
</configuration>