<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--1、Mini框架：通用SQL配置：-->
  <include uri="file://Mini/Common/SQL.Common.Mini.config"/>
  
  <!--2、Mini框架：特定数据库类型的SQL对象配置（五选一）-->
  <include uri="file://Mini/SQLite/SQL.SQLite.Mini.config"/>
  <!--<include uri="file://Mini/MySql/SQL.MySql.Mini.config"/>-->
  <!--<include uri="file://Mini/Oracle/SQL.Oracle.Mini.config"/>-->
  <!--<include uri="file://Mini/PostgreSql/SQL.PostgreSql.Mini.config"/>--> 
  <!--<include uri="file://Mini/SqlServer/SQL.SqlServer.Mini.config"/>-->

</configuration>