<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--以下所有IOC子配置路径，是相对当前文件的路径，这跟SQL配置文件是不一样的（它是相对Config根目录）-->
  <!--Mini框架：通用IOC对象配置：-->
  <include uri="file://Common/IOC.BLL.Global.Mini.config"/>
  <include uri="file://Common/IOC.BLL.Mini.config"/>
  <include uri="file://Common/IOC.DAL.Mini.config"/>
  
  <!--Mini框架：特定类型数据库访问层的IOC对象配置（五选一）-->
  <include uri="file://SQLite/IOC.DAL.SQLite.Mini.config"/>
  <!--<include uri="file://MySql/IOC.DAL.MySql.Mini.config"/>-->
  <!--<include uri="file://Oracle/IOC.DAL.Oracle.Mini.config"/>-->
  <!--<include uri="file://PostgreSql/IOC.DAL.PostgreSql.Mini.config"/>--> 
  <!--<include uri="file://SqlServer/IOC.DAL.SqlServer.Mini.config"/>-->

  <components>
    <!--Mini框架：数据库访问层使用的IOC配置（为简单起见，默认使用SQLite数据库）-->
    <component id="IDataAccessMini" service="Breezee.Framework.DataAccess.INF.IDataAccess, Breezee.Framework.DataAccess.INF"
				   type="Breezee.Framework.DataAccess.SQLite.BSQLiteDataAccess,  Breezee.Framework.DataAccess.SQLite">
      <parameters>
        <sConstr>Data Source=SQLite_Mini.db;Version=3;Pooling=True;Max Pool Size=100</sConstr>
      </parameters>
    </component>
     
  </components>
</configuration>