<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Breezee.Framework.BaseUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Breezee.Framework.BaseUI.Properties.Settings>
            <setting name="MainSkinType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainSkinValue" serializeAs="String">
                <value>235,246,167</value>
            </setting>
            <setting name="CommonSkinType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommonSkinValue" serializeAs="String">
                <value>190,243,201</value>
            </setting>
            <setting name="MainSkinColorName" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="CommonSkinColorName" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SavePromptType" serializeAs="String">
                <value>2</value>
            </setting>
        </Breezee.Framework.BaseUI.Properties.Settings>
    </userSettings>
</configuration>