<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="7.0.0" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net48" />
  <package id="CacheManager.Core" version="1.1.0" targetFramework="net48" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net48" />
  <package id="Castle.Windsor" version="5.0.0" targetFramework="net48" />
  <package id="Enums.NET" version="5.0.0" targetFramework="net48" />
  <package id="ExtendedNumerics.BigDecimal" version="2025.1001.2.129" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.1.2" targetFramework="net48" />
  <package id="NPOI" version="2.7.4" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.1" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.10" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="ZString" version="2.6.0" targetFramework="net48" />
</packages>